body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Index */

#index-table {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 70vw;
  height: 70vh;
}

table td {
  border: 1px solid black;
}

table tr:first-child td {
  border-top: 0;
  border-left: 0;
}

table tr:last-child td {
  border-bottom: 0;
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

.rooms {
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

/******************************************/
/*  INDEX - B                             */
/******************************************/

#plan {
  margin: 25px 35%;
  width: 400px;
}

.start {
  position: relative;
  top: 53px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid pink;
}

.room {
  position: relative;
  border: black 5px solid;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

/* window */
.room:before {
  content: "";
  position: absolute;
}

/* door */
.room:after {
  content: "";
  position: absolute;
}

.roomName {
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

div[class^="room"]:nth-child(2) {
  left: 0;
  top: 0;
  width: 180px;
  height: 77px;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* Front Door (first half) */
div[class^="room"]:nth-child(2)::before {
  left: -2px;
  bottom: -2px;
  height: 33px;
  width: 25px;
  border-width: 3px 2px 2px 2px;
  border-style: double solid solid solid;
  border-color: black black black transparent;
  -moz-border-radius: 0 0 27px 0;
  -webkit-border-radius: 0 0 27px 0;
  border-radius: 0 0 27px 0;
}

/* Front door (second half)*/
div[class^="room"]:nth-child(2):after {
  top: -2px;
  left: -2px;
  height: 33px;
  width: 25px;
  border-width: 2px 2px 3px 2px;
  border-style: solid solid double solid;
  border-color: black black black transparent;
  border-radius: 0 27px 0 0;
}

div[class^="room"]:nth-child(3) {
  left: 180px;
  top: -87px;
  width: 200px;
  height: 150px;
  border-left-color: transparent;
  line-height: 100px;
}

div[class^="room"]:nth-child(3)::before {
  top: -4px;
  left: 45%;
  width: 60px;
  border-top: 2px solid #fff;
}

div[class^="room"]:nth-child(3)::after {
  left: 25px;
  bottom: -5px;
  height: 30px;
  width: 30px;
  border-width: 2px 2px 6px 3px;
  border-style: solid solid solid double;
  border-color: black black #f7f7f7 black;
  -moz-border-radius: 0 32px 0 0;
  -webkit-border-radius: 0 32px 0 0;
  border-radius: 0 32px 0 0;
}

div[class^="room"]:nth-child(4) {
  left: 1px;
  top: -165px;
  width: 177px;
  height: 140px;
  line-height: 100px;
}

div[class^="room"]:nth-child(4)::before {
  top: 30px;
  left: -4px;
  height: 60px;
  border: 1px solid #fff;
}

div[class^="room"]:nth-child(4):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
  border-radius: 32px 0 0 0;
}

div[class^="room"]:nth-child(5) {
  left: 1px;
  top: -169px;
  width: 177px;
  height: 140px;
  line-height: 100px;
}

/* connect two rooms */
div[class^="room"]:nth-child(5):before {
  left: 0;
  top: -6px;
  width: 60px;
  border: 5px solid #fff;
}

div[class^="room"]:nth-child(6) {
  left: 188px;
  top: -406px;
  width: 197px;
  height: 213px;
  line-height: 190px;
  border-top: transparent;
  border-left: transparent;
}

div[class^="room"]:nth-child(6):before {
  top: 30px;
  right: -4px;
  height: 60px;
  border: 1px solid #fff;
}

/* Raum Thair */
.title {
  text-align: center;
  margin-top: 10em;
  color: lightgrey;
}

.sound-control {
  position: absolute;
  top: 50%;
  padding: 2em;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.right {
  right: 30%;
}

.left {
  left: 30%;
}

/******************************************/
/*  RAUM GONE                             */
/******************************************/

/* .raum {
  width: 80vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.nav-back {
  position: fixed;
  top: 5vh;
  left: 5vw;
  font-size: 30px;
  color: black;
}

.fullscreen {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#top {
  position: fixed;
  top: 0;
  left: 25vw;
  width: 50vw;
  height: 30vh;
  /* background-color: blueviolet; */
  cursor: pointer;
}

#bottom {
  position: fixed;
  bottom: 0;
  left: 25vw;
  width: 50vw;
  height: 30vh;
  /* background-color: blueviolet; */
  cursor: pointer;
}

#center {
  position: fixed;
  top: 30vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  /* background-color: pink; */
  cursor: pointer;
}

#left {
  position: fixed;
  top: 20vh;
  left: 0;
  width: 25vw;
  height: 60vh;
  /* background-color: blue; */
  cursor: pointer;
}

#right {
  position: fixed;
  top: 20vh;
  right: 0;
  width: 25vw;
  height: 60vh;
  /* background-color: blue; */
  cursor: pointer;
}
